@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
     font-family: Proxima Nova, system-ui, sans-serif;
    }
    .card {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.xl');
        width: 40%
      }
     
     li{
       @apply px-4;
       @apply cursor-pointer font-bold 
     }
   }
   .content-div{
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 250px;
   }